&
  margin-top: 10px
  overflow: hidden
  height: 480px
  transition: all .5s

  &--small

  &__Content
    transform: scale3d($deviceScaleRatio, $deviceScaleRatio, $deviceScaleRatio)
    transform-origin: 50% 0

    .screen
      background: url('/app-context.jpg') !important
      background-size: cover !important