&
  font-family: $fontFamilySerif
  display: inline-flex !important
  align-items: center

  &__FontFamilyHandler
    &__Label
      cursor: pointer
      font-size: $fontSizeXSmall

      &--selected
        color: $fontColorDark