$adOverlayBackground: #000

&
  text-align: center

  > *
    display: inline-block

  &__Content
    text-align: center
    position: relative
    cursor: pointer

    .ad
      left: 0
      top: 0
      text-align: left

  &__Selection
    position: absolute
    left: 0
    color: #000
    transform: scale3d(1 / $deviceScaleRatio, 1 / $deviceScaleRatio, 1 / $deviceScaleRatio)
    transform-origin: 50% 0

    &__Overlay
      pointer-events: none
      position: absolute
      box-sizing: border-box
      border-radius: 3px
      z-index: 1
      background: rgba($adOverlayBackground, 0.65)

      &--internal
        background: transparent
        box-shadow: 0 0 0 5000px rgba($adOverlayBackground, 0.6)

