import React from 'react'
import PropTypes from 'prop-types'
import cx from 'classnames'

import './styles.sass'

const {{ properCase name }} = ({}) => (
  <div>
  </div>
)

{{ properCase name }}.propTypes = {
}

{{ properCase name }}.defaultProps = {
}

export default {{ properCase name }}
